.create-order-container
{
    display: grid;
    grid-template-rows: auto auto auto;
    position: relative;
    box-sizing: border-box;
    margin-top: 60px;
}

.create-order-box
{
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    grid-template-rows: auto;
    box-sizing: border-box;
    margin-bottom: 100px;
}