.userSideBar-container
{
    background-color: #5861AE;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.icon-box , .icon-box-white
{
    background-color: #5861AE;
    box-sizing: border-box;

    width: 100%;
    height: 65px;

    padding: 20px 27%;
}

.icon
{
    width: 100%;
    height: 100%;
}

.icon-box-white
{
    background-color: white;
    padding: 22px 26%;

}